<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h5>This is test page!</h5>
<hr/>
<a href="/param/findAccountBalance?accountId=1314" style="text-decoration: none">test find account balance</a><br/>
<a href="/param/findAccountBalanceByUsername?accountId=1314&username=kapcb" style="text-decoration: none">test find
    account balance by accountId and username</a><br/>
<a href="/param/map" style="text-decoration: none">test Spring MVC param's map</a><br/>
<a href="/param/"></a><br/>
</body>
</html>