<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Object Bean</title>
</head>
<body>
<h5>This is Test Object Bean page!</h5>
<hr/>
<h4>Test ObjectBeanController</h4>

<%--类型绑定--pojo测试--%>
<form action="/objectBean/saveAccount" method="post">
    账户名称:<input type="text" name="name"> <br/>
    账户金额:<input type="text" name="money"> <br/>
    账户省份:<input type="text" name="address.provinceName"> <br/>
    账户城市:<input type="text" name="address.cityName"> <br/>
    <input type="submit" value="保存"> <br/>
</form>

<%--POJO 类中包含集合类型参数 --%>
<form action="/objectBean/updateAccount" method="post">
    用户名称:<input type="text" name="username"><br/>
    用户密码:<input type="password" name="password"><br/>
    用户年龄:<input type="text" name="age"><br/>
    账户 1 名称:<input type="text" name="accounts[0].name"><br/>
    账户 1 金额:<input type="text" name="accounts[0].money"><br/>
    账户 2 名称:<input type="text" name="accounts[1].name"><br/>
    账户 2 金额:<input type="text" name="accounts[1].money"><br/>
    账户 3 名称:<input type="text" name="accountMap['one'].name"><br/>
    账户 3 金额:<input type="text" name="accountMap['one'].money"><br/>
    账户 4 名称:<input type="text" name="accountMap['two'].name"><br/>
    账户 4 金额:<input type="text" name="accountMap['two'].money"><br/>
    <input type="submit" value="保存">
</form>
<hr>
</body>
</html>