<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd" default-lazy-init="false">

    <context:component-scan base-package="com.kapcb.ccc">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--
    添加Spring Task的名称空间以及配置定时任务即可
    xmlns:task="http://www.springframework.org/schema/task"

    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd
    -->
    <task:scheduled-tasks>
        <task:scheduled ref="testTask" method="jobTaskOne" cron="0/10 * * * * ?"/>
    </task:scheduled-tasks>

    <!--注解方式的配置, 理论上这些配置都是非必须的, 直接使用<task:annotation-driven />这句配置就可以了-->
    <task:annotation-driven scheduler="qbSchedule" mode="proxy"/>
    <task:scheduler id="qbSchedule" pool-size="10"/>

</beans>
