<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建带有生命周期的bean实例-->
    <!--生命周期：bean 的创建到销毁
        1.单实例bean：容器启动的时候就会创建好，容器关闭也会销毁创建的bean
        2.多实例bean：获取的时候才创建
    我们可以为bean定义一些生命周期的方法：Spring在创建或者在销毁的时候会调用的方法
    自定义初始化方法和销毁方法：要求：The method must have no arguments,but may throw exception
    可以抛异常但是必须不能带参数

    生命周期:
        1、通过构造器创建Bean的实例(无参构造器)
        2、为Bean的属性设置值或者其它Bean的应用(调用set方法)
        3、调用Bean的初始化方法(需要进行配置初始化的方法)
        4、Bean创建完成，可以使用(从Spring中获取到了对象)
        5、在容器关闭之前，调用Bean的销毁方法(需要进行配置的销毁方法)
    -->
    <bean id="user" class="com.kapcb.ccc.domain.User" init-method="initMethod" destroy-method="destroyMethod">
        <property name="userId" value="123456"/>
    </bean>

    <!--后置处理器-->
    <bean id="userBeanPostProcessor" class="com.kapcb.ccc.processor.UserBeanPostProcessor"/>
</beans>