<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.kapcb.ccc">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven/>

    <aop:aspectj-autoproxy/>

<!--    &lt;!&ndash;配置基于注解的处理器适配器与处理器映射器&ndash;&gt;-->
<!--    <mvc:annotation-driven validator="validator"/>-->

<!--    &lt;!&ndash;配置校验器&ndash;&gt;-->
<!--    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
<!--        &lt;!&ndash; 校验器 &ndash;&gt;-->
<!--        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>-->
<!--        &lt;!&ndash; 指定校验使用的资源文件，如果不指定则默认使用classpath下的ValidationMessages.properties &ndash;&gt;-->
<!--        <property name="validationMessageSource" ref="messageSource"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash;校验错误信息配置&ndash;&gt;-->
<!--    &lt;!&ndash;加载错误信息定义的资源文件的类为ReloadableResourceBundleMessageSource，需要为其指定资源文件名beannames、资源文件编码格式fileEncodings，-->
<!--    以及资源文件内容的缓存时间cacheSeconds（单位为s）。可以在beannames配置中添加多个资源文件的配置信息，这里添加的是classpath下的名为“LoginValidationMessage”-->
<!--    的属性文件。文件编码格式设置为“utf-8”，而内容缓存时间设置为120s。&ndash;&gt;-->
<!--    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
<!--        &lt;!&ndash; 资源文件名 &ndash;&gt;-->
<!--        <property name="basenames">-->
<!--            <list>-->
<!--                <value>classpath:properties.validation</value>-->
<!--            </list>-->
<!--        </property>-->
<!--        &lt;!&ndash; 资源文件编码格式 &ndash;&gt;-->
<!--        <property name="fileEncodings" value="UTF-8"/>-->
<!--        &lt;!&ndash; 对资源文件内容缓存时间，单位秒 &ndash;&gt;-->
<!--        <property name="cacheSeconds" value="120"/>-->
<!--    </bean>-->

<!--&lt;!&ndash;    自定义validationExceptionHandler错误信息返回, 给调用方的信息返回更加友好&ndash;&gt;-->
<!--    <bean id="validationExceptionResolver" class="com.kapcb.ccc.commons.validation.ValidationExceptionResolver"/>-->
</beans>