<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Bean jndi-->
    <!--一个bean标签可以注册一个组件或者一个对象、类-->
    <bean id="bean" class="com.kapcb.ccc.domain.Bean">
        <property name="username" value="kapcb"/>
        <property name="email" value="eircccallroot@163.com"/>
        <property name="address" value="China"/>
        <property name="age" value="18"/>
    </bean>

</beans>