<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC-Kapcb-FileUpLoad:war exploded">
    <output-path>$PROJECT_DIR$/SpringMVC-Kapcb-FileUpLoad/target/SpringMVC-Kapcb-FileUpLoad</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringMVC-Kapcb-FileUpLoad</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="[015]SpringMVC-FileUpLoad" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.4" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/[015]SpringMVC-FileUpLoad/target/SpringMVC-Kapcb-FileUpLoad/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="[015]SpringMVC-FileUpLoad/web/Web" />
    </root>
  </artifact>
</component>